/PrimeiroPrograma/target/
/HoraDoSistema/target/
/ResolucaoTela/target/
/IdiomaSistema/target/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/TesteTipos/nbproject/private/
/TiposPrimitivos/build/
/TiposPrimitivos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/OperadoreLogicos/nbproject/private/
/OperadoreLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/ComparacaoString/dist/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParImpar/nbproject/private/
/ProgramaParImpar/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/TiposDeTriangulo/nbproject/private/
/TiposDeTriangulo/build/
