/PrimeiroPrograma/target/
/HoraDoSistema/target/
/ResolucaoTela/target/
/IdiomaSistema/target/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/TesteTipos/nbproject/private/
/TiposPrimitivos/build/
/TiposPrimitivos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/OperadoreLogicos/nbproject/private/
/OperadoreLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/ComparacaoString/dist/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParImpar/nbproject/private/
/ProgramaParImpar/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/TiposDeTriangulo/nbproject/private/
/TiposDeTriangulo/build/
/Contador01/nbproject/private/
/Contador01/build/
/Contador02/nbproject/private/
/Contador02/build/
/CalculandoFatorial/nbproject/private/
/CalculandoFatorial/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/RepeticaoFor/nbproject/private/
/RepeticaoFor/build/
/RepeticaoFroAninhado/nbproject/private/
/RepeticaoFroAninhado/build/
/Exercicio13/nbproject/private/
/Exercicio13/build/
/Vetor01/nbproject/private/
/Vetor01/build/
/Vetor03/nbproject/private/
/Vetor03/build/
/Vetor04/nbproject/private/
/Vetor04/build/
/Vetor05/nbproject/private/
/Vetor05/build/
/ExercicioVetor/nbproject/private/
/ExercicioVetor/build/
/TesteFuncao01/nbproject/private/
/TesteFuncao01/build/
/TesteFuncao02/nbproject/private/
/TesteFuncao02/build/
/TesteFuncao03/nbproject/private/
/TesteFuncao03/build/
/Funcao01/nbproject/private/
/Funcao01/build/
/Funcao02/nbproject/private/
/Funcao02/build/
